@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}

header{
    background-color: rgba(9, 87, 2, 0.582);
    color: rgb(157, 240, 119);
    display: flex;
    justify-content: space-around;
    padding: 24px 0 24px 0;
}

.cabecalho-imagem{
    border-radius: 40px;
    width: 40%;
    justify-content: left;
    margin-left: -88px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 100px 50px 0 0;
    font-size: 30px;
}

.cabecalho-lista-item a{
    text-decoration: none;
    color: rgb(33, 228, 15);
}



.turmas{
    background-image: linear-gradient(rgba(91, 228, 121, 0.747),rgba(15, 170, 10, 0.966));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.jogos-titulo{
    color: rgb(66, 216, 134);
    font-size: 40px;
}

.jogos-div{
    width: 35%;
}

.jogos-texto1{
    padding: 24px 0;
    text-align: justify;
}

.rodape-todos{
    display: grid;
    grid-template-columns: 50% 50%;
}

.rodape{
    height: auto;
    width: auto;
    padding: 0.5em 0 0.5em 2em;
    background-color: rgba(35, 245, 16, 0.582);
}

  
.by{
    text-align: right;
    margin-right: 1em;
    font-size: 20px;
    margin-top: auto;
}